<body>
     <div class="container">
         <div class="form-section">
             <h2>Détails d'idée</h2>
             <div class="info-section">
                 <div class="employee-info">
                     <h4>Informations concernant l'employé:</h4>
                     <p>Nom & prénom : --</p>
                     <p>Matricule : --</p>
                     <p>Téléphone : --</p>
                     <p>Segment : Segment 1</p>
                     <p>Ligne : Ligne 1</p>
                 </div>
                 <div class="idea-info">
                     <h4>Information concernant l'idée:</h4>
                     <p>Date idée : </p>
                     <p>Type idée : </p>
                     <p>Motifs : </p>
                     <p>Contre maitre : </p>
                     <p>Chef Segment : </p>
                     <p>Expert : </p>
                 </div>
             </div>
             <textarea placeholder="Description détaillée ...."></textarea>
             <div class="rating-section">
                 <div class="rating">
                     <label>Originalité de l'idée : </label>
                     <input type="number" min="0" max="10"> /10
                 </div>
                 <div class="rating" style="margin-left: 20px ;">
                     <label> Impact sur plant:</label>
                     <input type="number" min="0" max="10">/10
                 </div>
                 <div class="total-rating">
                     Note Total : ..........
                 </div>
                 <button class="btn btn-primary">Etat</button>
             </div>
         </div>
     </div>
 </body>