<body>
     <div class="container">
          <div class="card">
              <h4>Paramétres</h4>
              <div class="zone-mdp-container">
                    <div class="mdp-container">
                         <p>Mot de passe</p>
                    <input type="text" placeholder="mot de passe">
               </div>
               <div class="nvMdp-container">
                    <p>Nouveau Mot de passe</p>
               <input type="text" placeholder="Nouveau Mot de passe">
               </div>
              </div>
              <div class="email-modifier-container">
                    <div class="box-container">
                         <p>Confirmer mot de passe</p>
                         <input type="password" placeholder="Confirmer mot de passe">
                    </div>
                    <div class="btn-container">
                         <button  class="btn btn-lg btn-primary w-100 fs-6">Enregistrer</button>
                    </div>
              </div>
              <div class="email-modifier-container">
                    <div class="box-container">
                         <p>Modifier l'Email</p>
                         <input type="email" placeholder="Email">
                    </div>
                    <div class="btn-container">
                         <button  class="btn btn-lg btn-primary w-100 fs-6">Enregistrer</button>
                    </div>
               </div>
             
          </div>
     </div>
</body>