@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
   font-family: 'Poppins', sans-serif;
   background: linear-gradient(to left , #77E4C8 ,#36C2CE , #478CCF , #4535C1);
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   min-height: 100vh;
   
}

.card {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   background-color: white;
   padding: 20px 30px;
   border-radius: 3%;
   border: 2px solid #ddd;
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15); 
   
}

input {
   padding: 10px;
   width: 100%;
   border: 1px solid #ccc;
   border-radius: 10px;
   box-sizing: border-box;
}
h4{
     color: #050C9C;
     margin-top: 5px;
     margin-bottom: 20px;
}
p{
   margin-bottom: 7px;
}
.zone-mdp-container{
   display: flex;
   flex-direction: row;
   align-items:flex-start;
}
.mdp-container{
   margin: 0px 10px 10px 0px;
}

.email-modifier-container{
   display: flex;
   flex-direction: column;
   width: 100%;
}

.box-container{
   margin: 10px 0px 10px 0;
}

  
