<body>
     
     <div class="container">
          <h2>(BIENVENU Mohamed ben Mohamed MH2 --- BMW --- 53 --- 21)</h2>
          <div class="card">
               <div >
                    <img src="../assets/images/prototype.png" width="100px" alt="">
               </div>
               <div style="margin: 5px 5px 5px 5px;">
                    <h4>Veuillez entrer votre idée</h4>
               </div>
               <p [ngClass]="{'error' : isEmailEmpty}" > {{textAreaLabel}} </p>
               <textarea name="" id="" rows="5" cols="50" [(ngModel)]="textArea"> </textarea><br>
               <p>
                    Sélectionner votre superieur hiérarchique 
                     <select name="hiérarchique" id="">
                         <option value="">Flen ben Foulen</option>
                    </select> 
               </p>
               <button class="btn" (click)="isEmpty()">Enregistrer</button>
          </div>

     </div>
</body>
