@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background:  #002857;
    height: 100vh;

}


.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    max-width: 1500px;
}

.buttons-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

input[type="search"] {
    width: 100%;
    margin-right: 10px;
}

button {
    margin: 0 5px;
}

a {
    margin: 0 0px 0 0px;
}

.titre {
    color: #050C9C;
    padding-bottom: 5px;
}

th, td {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0px;
    font-size: 16px;

}

th {
    width: 10%;
    position: sticky;
    top: 0;
    
}

table {
    width: 100%;
    table-layout: fixed; 
}

.th-td {
    width:fit-content;
}


.table-wrapper {
    max-height: 600px;
    overflow-y: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.select-container{
     display: flex;
}

select{
     margin: 20px 10px 30px 10px;
     width: 20vh;
}

a{
    padding-right: 5px;
    padding-left: 5px;
}


.refuser{
    color: rgb(190, 7, 7);
    border-radius: 15px !important;
    border: 1px solid rgb(190, 7, 7);
    background-color: lighten(rgb(190, 7, 7),58%);

    margin: 0;
    padding-left: 11px !important;
    padding-right: 11px !important;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
    width: 152px;
}

.valider{
    color: rgb(88, 160, 66);
    border-radius: 15px !important;
    border: 1px solid rgb(88, 160, 66);
    background-color: lighten(rgb(88, 160, 66),50%);

    margin: 0;
    padding-left: 11px !important;
    padding-right: 11px !important;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
    width: 152px;
}
.attente{
    color: #ff7514;
    border-radius: 15px !important;
    border: 1px solid #ff7514;
    background-color: lighten(#ff7514,47%);

    margin: 0;
    padding-left: 11px !important;
    padding-right: 11px !important;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
    width: 152px;
}
.selectionner{
    color: #0064c8;
    border-radius: 15px !important;
    border: 1px solid #0064c8;
    background-color: lighten(#0064c8,47%);

    margin: 0;
    padding-left: 11px !important;
    padding-right: 11px !important;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
    width: 152px;
}
.export-button{
    background-color: #ff7514;
    color: white;
}
.realiser{
    color: #00b2ff;
    border-radius: 15px !important;
    border: 1px solid #00b2ff;
    background-color: lighten(#00b2ff,47%);

    margin: 0;
    padding-left: 11px !important;
    padding-right: 11px !important;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
    width: 152px;
}

.preselectionner{
    color: #050C9C;
    border-radius: 15px !important;
    border: 1px solid #050C9C;
    background-color: lighten(#050C9C,47%);

    margin: 0;
    padding-left: 11px !important;
    padding-right: 11px !important;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
    width: 152px;
}



