<div class="container">
     <div class="notifications-container">
         <div class="notifications-header">
             <h3>Mes Notifications</h3>
        </div>
             <div class="filter-container">
                 <select id="filter-type">
                     <option value="all">Toutes les notifications</option>
                     <option value="ideas">Les idées</option>
                     <option value="decisions">Les décisions</option>
                 </select>
                 <select id="filter-time">
                     <option value="month">Mois</option>
                     <option value="week">Semaine</option>
                     <option value="day">Jour</option>
                 </select>
             </div>
         
         <div class="notification-item">
             <div class="notification-icon">
                 <img src="../assets/images/bell.png" alt="Notification Icon">
             </div>
             <div class="notification-content">
                 <div class="notification-title">Nouvelle idée</div>
                 <div class="notification-description">Une nouvelle idée a été ajoutée</div>
                 <div class="notification-date">18 mai 2023 13:50</div>
             </div>
         </div>
         <div class="notification-item">
             <div class="notification-icon">
                 <img src="../assets/images/bell.png" alt="Notification Icon">
             </div>
             <div class="notification-content">
                 <div class="notification-title">Nouvelle idée</div>
                 <div class="notification-description">Une nouvelle idée a été ajoutée</div>
                 <div class="notification-date">18 mai 2023 08:32</div>
             </div>
         </div>
         <div class="notification-item">
             <div class="notification-icon">
                 <img src="../assets/images/bell.png" alt="Notification Icon">
             </div>
             <div class="notification-content">
                 <div class="notification-title">Nouvelle décision</div>
                 <div class="notification-description">Foulen a refusé l'idée "112"</div>
                 <div class="notification-date">17 mai 2023 14:56</div>
             </div>
         </div>
     </div>
</div>


<!-- <! background: linear-gradient(to left , #0064c8 , #002857); --> >
