<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-4 p-3 bg-white shadow box-area">
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box block-container"></div>
            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h3>Bienvenu!</h3>
                        <p>Veuillez vous connecter avec vos informations personnelles.</p>
                    </div>
                    <p class="header-text mb-3" [ngClass]="{ 'error1': isUserEmpty }">{{usernameLabel}}</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Nom d'utilisateur" [(ngModel)]="username">
                    </div>
                    <p class="header-text mb-3" [ngClass]="{ 'error2': isPasswordEmpty }">{{passwordLabel}}</p>
                    <div class="input-group mb-1">
                        <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Mot de passe" [(ngModel)]="password">
                    </div>
                    <div class="input-group mb-5 d-flex justify-content-space-between">
                        <div class="forgot">
                            <small><a [routerLink]="['reinitialisation-mdp']">Mot de passe oublié?</a></small>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-primary w-100 fs-6" (click)="isEmpty()">se connecter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


