@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to left , #77E4C8 ,#36C2CE , #478CCF , #4535C1);
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    margin-top: 70px;
}

.buttons-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

input[type="search"] {
    width: 100%;
    margin-right: 10px;
}

button {
    margin: 0 5px;
}

a {
    margin: 0 0px 0 0px;
}

.titre {
    color: #050C9C;
}

th, td {
    text-align: center;
    padding: 15px;
    font-size: 16px;
}

th {
    
    position: sticky;
    top: 0;
    background-color: white;
}

table {
    width: 100%;
    table-layout: fixed;
}

.th-td {
    width:fit-content;
}

.mail {
    width: 20%;
}

.table-wrapper {
    max-height: 600px;
    overflow-y: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.select-container{
     display: flex;
}

select{
     margin: 20px 10px 30px 10px;
     width: 20vh;
}
